* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main{
   z-index:20;
}

#game {
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 0.5fr;
  gap: 3rem;
  justify-items: center;
  align-items: center;
 
}

#board,
#boardComputer {
  display: grid;
  width: 20vw;
  height: 40vh;
}
#board {
  grid-column: 1/2;
}
#boardComputer {
  grid-column: 3/4;
}

#shipContainer {
  grid-column: 1/4;
  justify-content: center;
  background-color: black;
  width: 20vw;
  height: 40vh;
}

#game {
  display: none;
}

.ships {
  background-color: red;
  width: 2vw;
  height: 2vh;
}

.hidden {
  display: none;
}

.cell.ship {
  background-color: green;
}
